.carouselSection{
    position: relative;
    margin-bottom: 70px;
    & > .contentWrapper{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        margin-bottom: 20px;
    }

    .carouselTitle{
        font-size: 24px;
        color: #fff;
        font-weight: normal;
    }
}